n8n/daily-article-workflow.json
{
  "name": "EPID 每日多语种SEO文章",
  "nodes": [
    {
      "id": "1",
      "name": "每天定时",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": "1.2",
      "position": [0, 400],
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 9 * * *" }] }
      }
    },
    {
      "id": "2",
      "name": "配置",
      "type": "n8n-nodes-base.set",
      "typeVersion": "3.4",
      "position": [240, 400],
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "a", "name": "repo_owner", "type": "string", "value": "YOUR_GITHUB_USER" },
            { "id": "b", "name": "repo_name", "type": "string", "value": "epid-hugo" },
            { "id": "c", "name": "branch", "type": "string", "value": "main" },
            { "id": "d", "name": "slug", "type": "string", "value": "weichai-wp10-turbo-maintenance" },
            { "id": "e", "name": "topic", "type": "string", "value": "Weichai WP10 turbocharger maintenance guide for diesel generators and trucks" }
          ]
        }
      }
    },
    {
      "id": "3",
      "name": "生成英文文章",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": "4.2",
      "position": [480, 400],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Authorization", "value": "Bearer {{$env.OPENAI_API_KEY}}" },
          { "name": "Content-Type", "value": "application/json" }
        ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"model\":\"gpt-4o-mini\",\"messages\":[{\"role\":\"system\",\"content\":\"You are an SEO copywriter for EPID, a Chinese exporter of diesel engine parts (Weichai, Baudouin, Yuchai, Cummins, Deutz, Caterpillar). Write original, helpful, non-spammy articles. Use correct technical terms and part numbers. Never invent part numbers.\"},{\"role\":\"user\",\"content\":\"Write a 600-900 word SEO article in English about: {{$('配置').item.json.topic}}. Use Markdown with one H1 and several H2 sections. Include a compatibility/part-number note and end with a CTA to WhatsApp +86 18137139988 and email sales@epidengineparts.com. Return ONLY valid Markdown, no code fences.\"}],\"temperature\":0.7}",
        "options": {}
      }
    },
    {
      "id": "4",
      "name": "提取英文MD",
      "type": "n8n-nodes-base.code",
      "typeVersion": "2",
      "position": [720, 400],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const md = $input.item.json.choices[0].message.content.trim();\nreturn [{ json: { en_md: md } }];"
      }
    },
    {
      "id": "5",
      "name": "翻译-西语",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": "4.2",
      "position": [960, 200],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Authorization", "value": "Bearer {{$env.OPENAI_API_KEY}}" },
          { "name": "Content-Type", "value": "application/json" }
        ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"model\":\"gpt-4o-mini\",\"messages\":[{\"role\":\"system\",\"content\":\"Translate the following Markdown article into Spanish. Keep the Markdown structure, headings, and all brand names / part numbers unchanged. Return ONLY Markdown.\"},{\"role\":\"user\",\"content\":\"{{$('提取英文MD').item.json.en_md}}\"}],\"temperature\":0.3}",
        "options": {}
      }
    },
    {
      "id": "6",
      "name": "翻译-阿语",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": "4.2",
      "position": [960, 360],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Authorization", "value": "Bearer {{$env.OPENAI_API_KEY}}" },
          { "name": "Content-Type", "value": "application/json" }
        ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"model\":\"gpt-4o-mini\",\"messages\":[{\"role\":\"system\",\"content\":\"Translate the following Markdown article into Arabic. Keep the Markdown structure and all brand names / part numbers unchanged. Return ONLY Markdown.\"},{\"role\":\"user\",\"content\":\"{{$('提取英文MD').item.json.en_md}}\"}],\"temperature\":0.3}",
        "options": {}
      }
    },
    {
      "id": "7",
      "name": "翻译-法语",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": "4.2",
      "position": [960, 520],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Authorization", "value": "Bearer {{$env.OPENAI_API_KEY}}" },
          { "name": "Content-Type", "value": "application/json" }
        ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"model\":\"gpt-4o-mini\",\"messages\":[{\"role\":\"system\",\"content\":\"Translate the following Markdown article into French. Keep the Markdown structure and all brand names / part numbers unchanged. Return ONLY Markdown.\"},{\"role\":\"user\",\"content\":\"{{$('提取英文MD').item.json.en_md}}\"}],\"temperature\":0.3}",
        "options": {}
      }
    },
    {
      "id": "8",
      "name": "翻译-德语",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": "4.2",
      "position": [960, 680],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Authorization", "value": "Bearer {{$env.OPENAI_API_KEY}}" },
          { "name": "Content-Type", "value": "application/json" }
        ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"model\":\"gpt-4o-mini\",\"messages\":[{\"role\":\"system\",\"content\":\"Translate the following Markdown article into German. Keep the Markdown structure and all brand names / part numbers unchanged. Return ONLY Markdown.\"},{\"role\":\"user\",\"content\":\"{{$('提取英文MD').item.json.en_md}}\"}],\"temperature\":0.3}",
        "options": {}
      }
    },
    {
      "id": "9",
      "name": "组装并提交",
      "type": "n8n-nodes-base.code",
      "typeVersion": "2",
      "position": [1200, 400],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const cfg = $('配置').item.json;\nconst b64 = s => Buffer.from(s, 'utf8').toString('base64');\nconst slug = cfg.slug;\nreturn [{ json: {\n  en_b64: b64($('提取英文MD').item.json.en_md),\n  es_b64: b64($('翻译-西语').item.json.choices[0].message.content.trim()),\n  ar_b64: b64($('翻译-阿语').item.json.choices[0].message.content.trim()),\n  fr_b64: b64($('翻译-法语').item.json.choices[0].message.content.trim()),\n  de_b64: b64($('翻译-德语').item.json.choices[0].message.content.trim()),\n  en_path: `content/news/${slug}.md`,\n  es_path: `content/es/news/${slug}.md`,\n  ar_path: `content/ar/news/${slug}.md`,\n  fr_path: `content/fr/news/${slug}.md`,\n  de_path: `content/de/news/${slug}.md`\n} }];"
      }
    },
    {
      "id": "10",
      "name": "GitHub-EN",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": "4.2",
      "position": [1440, 200],
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/{{$('配置').item.json.repo_owner}}/{{$('配置').item.json.repo_name}}/contents/{{$json.en_path}}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Authorization", "value": "Bearer {{$env.GITHUB_TOKEN}}" },
          { "name": "Content-Type", "value": "application/json" },
          { "name": "Accept", "value": "application/vnd.github+json" }
        ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"message\":\"auto: add EN article {{$('配置').item.json.slug}}\",\"content\":\"{{$json.en_b64}}\",\"branch\":\"{{$('配置').item.json.branch}}\"}",
        "options": {}
      }
    },
    {
      "id": "11",
      "name": "GitHub-ES",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": "4.2",
      "position": [1440, 320],
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/{{$('配置').item.json.repo_owner}}/{{$('配置').item.json.repo_name}}/contents/{{$json.es_path}}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Authorization", "value": "Bearer {{$env.GITHUB_TOKEN}}" },
          { "name": "Content-Type", "value": "application/json" },
          { "name": "Accept", "value": "application/vnd.github+json" }
        ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"message\":\"auto: add ES article {{$('配置').item.json.slug}}\",\"content\":\"{{$json.es_b64}}\",\"branch\":\"{{$('配置').item.json.branch}}\"}",
        "options": {}
      }
    },
    {
      "id": "12",
      "name": "GitHub-AR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": "4.2",
      "position": [1440, 440],
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/{{$('配置').item.json.repo_owner}}/{{$('配置').item.json.repo_name}}/contents/{{$json.ar_path}}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Authorization", "value": "Bearer {{$env.GITHUB_TOKEN}}" },
          { "name": "Content-Type", "value": "application/json" },
          { "name": "Accept", "value": "application/vnd.github+json" }
        ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"message\":\"auto: add AR article {{$('配置').item.json.slug}}\",\"content\":\"{{$json.ar_b64}}\",\"branch\":\"{{$('配置').item.json.branch}}\"}",
        "options": {}
      }
    },
    {
      "id": "13",
      "name": "GitHub-FR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": "4.2",
      "position": [1440, 560],
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/{{$('配置').item.json.repo_owner}}/{{$('配置').item.json.repo_name}}/contents/{{$json.fr_path}}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Authorization", "value": "Bearer {{$env.GITHUB_TOKEN}}" },
          { "name": "Content-Type", "value": "application/json" },
          { "name": "Accept", "value": "application/vnd.github+json" }
        ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"message\":\"auto: add FR article {{$('配置').item.json.slug}}\",\"content\":\"{{$json.fr_b64}}\",\"branch\":\"{{$('配置').item.json.branch}}\"}",
        "options": {}
      }
    },
    {
      "id": "14",
      "name": "GitHub-DE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": "4.2",
      "position": [1440, 680],
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/{{$('配置').item.json.repo_owner}}/{{$('配置').item.json.repo_name}}/contents/{{$json.de_path}}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Authorization", "value": "Bearer {{$env.GITHUB_TOKEN}}" },
          { "name": "Content-Type", "value": "application/json" },
          { "name": "Accept", "value": "application/vnd.github+json" }
        ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"message\":\"auto: add DE article {{$('配置').item.json.slug}}\",\"content\":\"{{$json.de_b64}}\",\"branch\":\"{{$('配置').item.json.branch}}\"}",
        "options": {}
      }
    },
    {
      "id": "15",
      "name": "完成",
      "type": "n8n-nodes-base.set",
      "typeVersion": "3.4",
      "position": [1680, 400],
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "z", "name": "status", "type": "string", "value": "5-language article committed: {{$('配置').item.json.slug}}" }
          ]
        }
      }
    }
  ],
  "connections": {
    "每天定时": { "main": [[{ "node": "配置", "type": "main", "index": 0 }]] },
    "配置": { "main": [[{ "node": "生成英文文章", "type": "main", "index": 0 }]] },
    "生成英文文章": { "main": [[{ "node": "提取英文MD", "type": "main", "index": 0 }]] },
    "提取英文MD": { "main": [[{ "node": "翻译-西语", "type": "main", "index": 0 }, { "node": "翻译-阿语", "type": "main", "index": 0 }, { "node": "翻译-法语", "type": "main", "index": 0 }, { "node": "翻译-德语", "type": "main", "index": 0 }]] },
    "翻译-西语": { "main": [[{ "node": "组装并提交", "type": "main", "index": 0 }]] },
    "翻译-阿语": { "main": [[{ "node": "组装并提交", "type": "main", "index": 0 }]] },
    "翻译-法语": { "main": [[{ "node": "组装并提交", "type": "main", "index": 0 }]] },
    "翻译-德语": { "main": [[{ "node": "组装并提交", "type": "main", "index": 0 }]] },
    "组装并提交": { "main": [[{ "node": "GitHub-EN", "type": "main", "index": 0 }]] },
    "GitHub-EN": { "main": [[{ "node": "GitHub-ES", "type": "main", "index": 0 }]] },
    "GitHub-ES": { "main": [[{ "node": "GitHub-AR", "type": "main", "index": 0 }]] },
    "GitHub-AR": { "main": [[{ "node": "GitHub-FR", "type": "main", "index": 0 }]] },
    "GitHub-FR": { "main": [[{ "node": "GitHub-DE", "type": "main", "index": 0 }]] },
    "GitHub-DE": { "main": [[{ "node": "完成", "type": "main", "index": 0 }]] }
  }
}
